.likesimg{
  width: 350px;
  height: 250px;
}
.likesimg:hover{
  cursor:auto;
  opacity: 1;
}

.project-container{
  background-color: azure;
  align-items: center;
  width: 25rem;
  padding: 1rem;

}

.about-project{
  float: left;
  width: 50vh;
  margin-right: 5vh;
}
.project-head{
  margin-left: 40%;
  margin-bottom: 2rem;
  color:#4e54c8 ;
  font-size: 2rem;
}
.project-container:hover{
  transform: scale(1.08);
  cursor: pointer;
}
.project-main{
  margin-top: 30vh;
  margin-left: 25%;
  width: 130vh;
 height: 40vh;
 background-color: rgb(248, 242, 242);
align-items: center;
padding-top: 20px;
padding-left: 10px;
}
.project-img img{

    height: 250px;
    width: 400px;
}
@media(max-width:1060px){
  .about-project{
   float: none;
  }
  .project-container{
    width: 18rem;
  }
  .likesimg{
    width: 250px;
  }
  .project-main{
    margin-left: 10px;
    width: 60vh;
    height: 70vh;
  }

}
@media(max-width:760px){
  .project-container{
    width: 18rem;
  }
  .project-head{
    margin-left: 10%;
  }
  .project-main{
    margin-left: 10px;
    width: 40vh;
    height: 65vh;
    overflow: hidden;
  }
  .project-img img{
  height: 250px;
  width: 250px;
}
.about-project{
  width:40vh ;
}
}